
<!-- Social Buttons -->
<div class="social_icons col-md-1">
	<div class="row">
		<ul>
			<li><a href="viber://chat?number=+37125942693" class="viber">
					<fa name="phone"></fa>
			</a></li>
			<li><a href="#" class="facebook"> <fa name="facebook"></fa>
			</a></li>
			<li class="more_social_icons_li"><a href="#"
				class="plus more_social_icons_btn"><i class="fa fa-plus"></i></a>
				<ul class="more_social_icons">
					<li><a href="#" class="google-plus"><i
							class="fa fa-google-plus"></i> </a></li>
					<li><a href="#" class="linkedin"><i
							class="fa fa-linkedin-square"></i> </a></li>
					<li><a href="#" class="github"><i class="fa fa-github"></i>
					</a></li>
				</ul></li>
		</ul>
	</div>
</div>
<!-- /Social Buttons -->