<div id="blog" class="col-md-12 pt-page-current"
	style="position: relative; max-height: 552px;" [perfectScrollbar]="">
	<h1 class="title color">
		<span class="text">{{"PAGES.PORTFOLIO.TITLE" | translate}}</span>
	</h1>
<ng-template #template>
  <div class="modal-body">
    <img [src]="test" class="img-responsive" />
  </div>
</ng-template>
	<!-- Blog Posts -->
	<div class="blog_posts left_side col-md-12">
		<a routerLink="../" class="back_to_blog btn" href="javascript:;"
			style="display: block;margin-bottom: 15px;"> {{"PAGES.PORTFOLIO.BACK_TO_BLOCK" |
			translate}} </a>

		<!-- Blog Post -->
		<div class="post" data-animation="flipInX">
			<div class="media">
				<div class="media_slideshow cycle-slideshow">
					<ngx-gallery [options]="galleryOptions" [images]="images"></ngx-gallery>
				</div>
			</div>
			<div class="post_data">
				<div class="box_title title">
					<div class="icon">
						<i class="fa fa-picture-o"></i>
					</div>
					<div class="text">
						<a href="#" class="read_more_btn">{{project.title | translate}}</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="preview_body body">
					<div class="body">
						<ul class="details">
							<li>{{'PAGES.PORTFOLIO.CLIENT' | translate}}: <span
								class="client_name">{{project.clientName | translate}}</span></li>
							<li>{{'PAGES.PORTFOLIO.DATE_DONE' | translate}}: <span
								class="project_date">{{project.dateCompleate}}</span></li>
						</ul>
						<p class="project_description" [innerHTML]="project.description | translate"></p>
						<div class="line">
							<a href="{{project.link}}" target="{{project.target}}" class="project_link">{{'PAGES.PORTFOLIO.GO_PROJECT'
								| translate}}</a>
							<div class="share">
								<span class="project_share_text">{{'PAGES.PORTFOLIO.OR_SHARE'
									| translate}}</span><a href="#" class="fa fa-twitter twitter_link"></a><a
									href="#" class="fa fa-facebook facebook_link"></a><a href="#"
									class="fa fa-youtube youtube_link"></a>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- /Blog Post -->
	</div>
	<!-- Blog Posts -->


</div>
