<div id="blog" class="col-md-12 pt-page-current"
	style="position: relative; max-height: 552px;" [perfectScrollbar]="">
	<h1 class="title color">
		<span class="text">{{"PAGES.PORTFOLIO.TITLE" | translate}}</span>
	</h1>

	<!-- Blog Posts -->
	<div class="blog_posts left_side col-md-12">
		<a routerLink="../" class="back_to_blog btn" href="javascript:;"
			style="display: block; margin-bottom: 15px;">
			{{"PAGES.PORTFOLIO.BACK_TO_BLOCK" | translate}} </a>

		<!-- Blog Post -->
		<div class="post" data-animation="flipInX">
			<div class="media">
				<div class="media_slideshow cycle-slideshow">
					<img src="assets/images/portfolio/test830x332.png" alt="sdfadasd"
						class="cycle-slide cycle-sentinel">
				</div>
			</div>
			<div class="post_data">
				<div class="box_title title">
					<div class="icon">
						<i class="fa fa-picture-o"></i>
					</div>
					<div class="text">
						<a href="#" class="read_more_btn">project.title</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="info">
					<div class="meta user">
						<i class="fa fa-user"></i><span><a href="#">user</a></span>
					</div>
					<div class="meta date">
						<i class="fa fa-calendar"></i><span>2 hours ago</span>
					</div>
					<div class="meta tags">
						<i class="fa fa-tags"></i><span><a href="#">web</a>, <a
							href="#">design</a></span>
					</div>
					<div class="meta comments">
						<i class="fa fa-comments-o"></i><span>10</span>
					</div>
				</div>
				<div class="preview_body body">
					<div class="body">
						<ul class="details">
							<li>{{'PAGES.PORTFOLIO.CLIENT' | translate}}: <span
								class="client_name">post.clientName</span></li>
							<li>{{'PAGES.PORTFOLIO.DATE_DONE' | translate}}: <span
								class="project_date">post.dateCompleate</span></li>
						</ul>
						<p class="project_description">post.description</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- /Blog Post -->
	</div>
	<!-- Blog Posts -->


</div>
